<div class="dgc-painel">
  <div class="dgc-painel-header">
      <span>Perguntas</span>
      <button class="btn btn-primary btn-sm dgc-botao-comando dgc-direita" (click)="edita()">novo</button>
  </div>
  <div *ngIf="listaBase" class="dgc-painel-principal">

      <div class="dgc-card" *ngFor="let item of listaBase">

          <div class="dgc-card-header">
            <span>{{item.texto}}</span>
          </div>
          <div class="dgc-card-detalhe">
            <span>{{item.textoIngles}}</span>
          </div>
          <div class="dgc-card-detalhe" *ngIf="item.tracoPersonalidade">
            <div>{{item.tracoPersonalidade.nome}} ({{item.tracoPersonalidade.codigo}})</div>
            <div>Peso: {{item.pesoTraco}}</div>
          </div>
         
          <div class="dgc-card-comandos">
              <button class="btn-primary btn-sm btn" (click)="edita(item)">Editar</button>
          </div>
      </div>
  </div>
</div>
