<div class="sidebar-wrapper">
  <div class="logo">
    <a routerLink="/home" class="simple-text">
      <div class="logo-img">
        <img src="assets/img/angular2-logo-white.png" />
      </div>
      <span routerLink="/home">Sugar 1.0</span>
    </a>
  </div>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/projetoLista">
        <i class="fa fa-search"></i>
        <p>Projetos</p>
      </a>
    </li>
  </ul>

  <ul class="nav responsive-nav">
    <li width="100%">
      <a routerLink="/experienciaLista/1">
        <i class="fa fa-search"></i>
        <p>Experiencia</p>
      </a>
    </li>
  </ul>


</div>