<h2 *ngIf="item" mat-dialog-title>Pergunta</h2>

<form *ngIf="item" class="example-full-width" (ngSubmit)="onSubmit()">

  <mat-dialog-content>

    <mat-form-field class="example-full-width">
      <input matInput maxlength="200" #texto [(ngModel)]="item.texto" name="texto" placeholder="Pergunta" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput maxlength="200" #textoIngles [(ngModel)]="item.textoIngles" name="textoIngles" placeholder="Inglês" />
    </mat-form-field>
   
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Traço" #tracoPersonalidadeId [(ngModel)]="item.tracoPersonalidadeId" name="tracoPersonalidadeId">
        <mat-option *ngFor="let traco of listaTraco" [value]="traco.id">
          {{traco.codigo}} - {{traco.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <input matInput maxlength="10" #pesoTraco [(ngModel)]="item.pesoTraco" name="pesoTraco" placeholder="Peso" />
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button>Salvar</button>
    <button mat-raised-button mat-dialog-close>Fechar</button>
  </mat-dialog-actions>

</form>